.admin-container{
    display: flex;

    .admin-sidebar{
        .ps-sidebar-container{
            height: 100vh !important;
        }
       background-color: aquamarine;
    }
    .admin-content{
        .admin-header{
            height: 40px;
            border: 1px solid green;
        }
        .admin-main{
            border: 1px solid red;
        }
    }
}