body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media(min-width: 1400px){
   .app-container, .header-container{
     max-width: 1350px;
   }
}

.app-container{
  .header-container{
    .btn-login {
        height: 40px;
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        border: 1px solid #535353;
    }

    .btn-signup {
        height: 40px;
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        background-color: #535353;
        color: white;
        &:hover{
          background: black;
        }
    }
    .btn-search{
        height: 40px;
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        border: 1px solid #535353;
        &:hover{
          background: green;
        }
    }
    .navbar{
      z-index:10;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
      .nav-link{
         &.active {
            color: #00bfff;
         }
      }
    }

    // .navbar-nav .nav-link.active {
    //       color: rgb(86, 15, 250);
    // }
  }
  .homepage-container{
    position: absolute;
    top: 80px;
    right: 80px;
    width: 33%;
    text-align: center;
    padding: 60px 10px;                                                                           
    margin: 2px;
    
    display: flex;
    flex-direction: column;
    gap: 30px;


    .title-1{
      font-size: 30px;
      font-weight: 600;
    }
    .title-2{
      font-size: 25px;
    }

    .btn-signup {
        height: 35px;
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        background-color: #535353;
        color: white;
        &:hover{
          background: black;
        }
    }

  }

  video{
    position: fixed;
    bottom: 0;

    width: 60vw;
  }

}



